.hidden {
	display: none;
}
#iMEIndicator, #iMEImage, #iMEDescription, #iMETarget, #iMEExit {
	position: fixed;
}
#iMETarget {
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.4);
}
#iMEExit {
	width: 75px;
	height: 75px;
	right: 2vw;
	top: 2vh;
	border-radius: 50%;
}
#iMEImage {
	width: 70vw;
	left: 2vw;
	top: 0;
	height: 100vh;
	margin: 0;
}
#iMEDescription {
	right: 2vw;
	top: 30vh;
	height: 40vh;
	width: 24vw;
}
.blank {
	border: none;
	padding: 0;
	max-height: none;
}
.popout {
	width: 0;
	max-width: 0;
	overflow: hidden;
	transition: width 0.1s;
}
.wideBut {
	display: block;
	width: 100%;
	height: auto;
	padding: 1vh 1vw;
	color: #DDDDDD
}
h1 {
	color: #000000;
	font-size: 3em;
	text-shadow: 	2px 1px 2px #101010,
			4px 2px 2px #202020,
			6px 3px 2px #303030,
			8px 4px 2px #505050,
			10px 5px 2px #808080,
			12px 6px 2px #c0c0c0;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	transition: color 0.3s;
}
html {
	scroll-behavior: smooth;
}
#navig{
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	border-right: 3px ridge #DFAACF;
	width: 0;
	overflow: auto;
	transition: all 0.5s;
}
#navnav{
	position: fixed;
	max-width: 64px;
	max-height: 64px;
	left: 1%;
	top: 3px;
	width: 7%;
	height: 7%;
	border-radius: 20%;
	background-color: rgba(162, 230, 230, 0.6);
}
h3 {
	text-align: center;
}
body {
	background: url("https://static.vecteezy.com/system/resources/previews/000/101/237/non_2x/free-abstract-background-11-vector.jpg") no-repeat center center fixed;
	height: 100%;
    	background-size: cover;
    	margin: 0;
	min-width: 450px;
    	font-family: 'Averia Serif Libre';
}
tbody {
	border-collapse: collapse;
	padding: 2%;
}
table {
	height: 80%;
	max-height: 475px;
	max-width: 768px;
	margin: 0px auto;
	border: 2px outset #ffcccc;
}
img {
	width: 80%;
	margin: 2px 10%;
	object-fit: scale-down;
}
td {
	width: 21%;
}
#col-mid {
	padding: none;
	border: 0.6em ridge seagreen;
	width: 50%;
}
hr {
	border: 0; 
	height: 3px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 233, 100, 0.75), rgba(0, 0, 0, 0));
}
.inTable {
    	overflow: visible;
    	border-style: solid;
    	border-color: black;
    	border-width: 1px 0 0 0;
	margin: none;
	background-image: none;
}
.inTable:before { /* hr style from https://css-tricks.com/examples/hrs/, #7 */
    	display: block;
    	content: "";
    	border-style: solid;
    	border-color: black;
    	border-width: 0 0 1px 0;
    	border-radius: 20px;
}
p {
	margin: auto;
	text-align: center;
}
em {
	border: 1px inset linear-gradient(to right, green, cyan, blue);
	font-weight: 700;
}
.extraStyle {
	border: 3px dashed rgba(122, 255, 200, 0.8);
	background-color: rgba(200, 200, 200, 0.5);
}
.scene {
	padding 10% 3px;
	height: 100vh;
}
.dark {
	color: #DDDDDD;
	background-color: #151515;
	text-align: center;
	margin: 0px;
}
#intro {
	background: linear-gradient(rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75), #151515);
	color: #D0D0D0;
}
.smol_text {
	font-size: 12px;
}
h4 {
	margin: 0px;
}
/*Color Game Stuff*/

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66666%;
	border-radius: 15%;
	transition: background-color 0.8s;
}

.container {
	max-width: 600px;
	margin: 20px auto;
}

#CGTitle {
	font-family: "Mali";
	line-height: 1.1;
	text-align: center; 
	margin: 0;
	text-transform: uppercase;
	padding: 1% 0;
	font-weight: 400;
	transition: background-color 0.8s;
}

span {
	font-size: 190%;
}

#display {
	text-transform: none;
	font-size: 10px;
	font-weight: 700;
	font-family: "Mali";
	display: inline-block;
	width: 20%;
}

#navbar {
	background-color: white;
	height: 30px;
	text-align: center;
	color: #002385;
}

.selected {
	background-color: #bbddff;
	color: white;
}

button {
	margin: 0;
	border: none;
	height: 100%;
	font-family: "Mali";
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-weight: 700;
	color: #bbddff
	font-size: 20px;
	transition: all 0.5s;
	outline: none;
}

button:hover {
	background-color: #bbddff;
	color: white;
}

#mainToCG {
	margin: 0 10%;
	width: 80%;
}

.screen {
	margin: none;
	padding: none;
}

#haxInput {
	align-content: center;
	margin-left: 12.5%;
	width: 50%;
	float: left;
}

#hax {
	width: 20%;
	margin-left: 5%;
	font-size: 12px;
	display: inline;
}

#RPGToMain {
	border-radius: 40%;
	width: 50px;
	height: 50px;
	font-size: 30px;
}

.float-left {
	float: left;
	display: inline;
}

.float-right {
	float: right;
	display: inline;
}

#mainToSF {
	width: 90%;
	margin: 1px 5%;
}

#topBarSF {
	height: 50px;
	border: 2px solid silver;
	background-color: rgba(234, 244, 123, 0.2);
}

#canvas {
	height: 450px;
	width: 800px;
	margin: 50px auto;
	border: 6px ridge gold;
	background-color: rgba(199, 255, 234, 0.9);
}

#titleSF {
	background-image: url('trash and the gang.jpg');
	background-size: contain;
	height: 438px;
}

#SFPlay {
	margin-left: 35px; 
	width: 240px; 
	height: 160px; 
	margin-top: 215px;
	border-radius: 50%;
	background-color: rgba(200, 255, 200, 0.8);
	font-size: 75px;
}

.statbar {
	transition: all 0.3s;
	outline: none;
	display: block;
	margin-top: 5px;
}

#charSelectText {
	width: 400px;
	float: left;
}

#confirm {
	margin: 50px auto;
	margin-top: 100px;
	width: 200px;
	height: 100px;
	font-size: 38px;
	display: block;
}

.SFscreen {
	padding: 10px;
	height: 438px;
}

label {
	margin-top: 5px;
	display: block;
}

i {
	font-size: 25px;
}
