body{
   margin: 0; 
   padding: 0;
   font-family: sans-serif;
   /*background-color: rgb(129, 190, 153);*/
   background-color: rgb(240, 240, 240);
}

.banner{
    width: 100%; /* 100% of the browser */
    display: block;
    padding: none;
    margin: none;
    position: relative;
}

.banner .banner-img{
     width: 100%;
     /*height: 450px;*/
     height: auto;
     display: block;
     position: relative;
     margin: 0 auto;
}

.banner .banner-txt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    background-color: white;
    background-color: rgba(159, 168, 170, 0.5);
    padding: 50px 50px 50px 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.devteam{
    /*background-color: rgb(243, 242, 242);*/
    background-color: white;
    margin: 0px 20px 10px 20px;
}

.devteam section{
    padding: 20px 20px 20px;
}

.join{
    /*background-color: rgb(219, 219, 219);*/
    background-color: rgb(160, 191, 175);
    padding: 20px 20px 20px 20px;
    margin: 10px 5px 10px 5px;
}

.join td{
    padding: 0px 20px 0px 20px;
}

.join td h2{
    border: dashed 4px white;
    padding: 40px 80px 40px 80px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    float: left;
    padding-left: 15px;
   
}

.logo a{
    text-decoration: none;
    color:rgb(77, 192, 134); 
    /*font-weight: bold;*/
    font-family: 'Times New Roman', Times, serif;
}

.logo a:hover{
    font-weight: bolder;
}

#devlist table{
    background-color: rgb(217, 243, 229);
    padding: 20px 20px 20px 20px;
    width: 100%;
    margin: 10px;

}

#devlist table img{
    width: 250px;
    height: 250px;
}

#nav{
    background-color: rgb(240, 240, 240);
    /*padding: 20px 0px 20px 0px;*/
    list-style: none;
    color: slategray;
    text-align: right;
    font-style: italic;
    margin-bottom: none;
}

#nav li{
    display: inline-block;
    padding-right: 25px;
}

#nav li a{
    text-decoration: none;
    color: slategray;
}

#nav li a:hover{
    color: rgb(77, 192, 134);
    font-weight: bold;
}