
button {
	margin: 0;
	width: 100%;
	min-width: 15px;
	min-height: 15px;
	font-family: "Courgette", cursive;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.15s;
	outline: none;
	display: inline-block;
	color: rgb(220, 220, 220);
	text-shadow: rgba(200, 200, 200, 0.8) 1px 1px;
	border: none;
	font-size: 16px;
	padding: 10px 40px;
}
button:hover {
	text-shadow: rgb(220, 220, 220);
	background-color: #99aabb;
	color: white;
}
body {
	text-align: center;
	text-shadow: rgba(200, 200, 200, 0.8) 1px 1px;
	background-color: rgb(23, 18, 25);
	color: rgb(220, 220, 220);
	font-family: 'Kalam', cursive;
}
#welc {
	margin: 3px 10%;
	width: 80%;
	padding-top: 9%;
	position: relative;
	background-image: url(h1.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
table {
	margin: 2px 3%;
	width: 94%;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}
#toDos {
	width: 80%;
}

.pageLinks {
	width: 20%; /* I think this may result in a smaller button size, to see effect, replace . with # */
}
