body {
	text-align: center;
	text-shadow: rgba(200, 200, 200, 0.8);
	background-color: rgb(23, 18, 25);
	color: rgb(220, 220, 220);
	font-family: 'Kalam', cursive;
}
h1 {
	margin: 3px 10%;
	width: 80%;
	padding-top: 9%;
	position: relative;
	background-image: url(h1.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
table {
	margin: 2px 3%;
	width: 94%;
	border: 1px solid black;
}
#pageLinks {
	width: 20%;
}
